<div class="center">
    <h1> About us</h1>
    <h1 style="color:blue;">” To inspire a billion people to save lives!”</h1>
    
        </div>
    <h2>Mission</h2><p>
    BMST is a not-for-profit charitable trust which provides “lifesaving services” through
    access to safe blood and cellular products and, facilitation of stem cell, solid organ and
    tissue transplantation for all patients in need. We also work with the community to
    provide advocacy, education and specific interventions in the area of health and related
    areas</p>
     
    
    <h2> Objectives</h2>
     
    <ul>
        <li>
    To promote and sustain voluntary blood, stem cell and tissue donations</li>
    <li>To spread awareness about organ and body donation</li>
    <li>To meet the defined needs of the community for safe blood components, cellular & tissue products
    </li><li>To follow high standards of operations as per national /international guidelines in order to develop & promote the culture of quality and ethics in all our services and facilities
    </li><li>To help the poor and needy with blood, tissues, laboratory and other services at subsidized or at no cost at all
    </li><li>To initiate and advocate for newer and improved testing protocols with clinicians in the field of blood and transplant
    </li><li>To do capacity building through training and technology transfer
    </li><li>To do Research & Development in blood, tissue and cellular therapies
    </li></ul>                                        
    <h2>Best practices and unique distinctions</h2>
    <ul>
    <li>Emphasis on 100% voluntary blood donation, and stringent donor selection</li>
    <li>100% blood separated into components</li>
    <li> all units by NAT</li>
    <li>Ensuring vein-to- vein traceability</li>
    <li>All blood units and other samples Bar coded for identification</li>
    <li> tests whose results are fed directly to the blood bank Software (Hemotrace)
    </li><li>Every component barcode is scanned and the results of TTI, blood group, pre-transfusion testing etc obtained and all labels are printed from software to eliminate errors due to manual entries
    </li><li>All relevant records also printed directly from software to eliminate manual entries
    </li><li>Functioning as the Immunohematology reference laboratory for South India.
    </li><li>Actively promoting the concept of storage centres and bulk transfer of blood to improve accessibility to safe blood components (as on February 2017, we supply blood to 22 storage centres in Bangalore and 1 in Mysore)Note :Our policy of taking back unused blood components from storage centres is perceived as a plus point with these hospitals. These components are issued to other hospitals / patients thus ensuring there is no wastage.
    </li><li>Quality has always been emphasized but NABH accreditation has made us more conscious of continual improvement
    </li><li>Recognition as a Scientific and Industrial Research Organization (SIRO) by the Department of scientific and Industrial Research, Ministry of Science & Technology, Government of India
    </li><li>Designated as a specialized laboratory of RGUHS (Rajiv Gandhi University of Health Sciences) and a Centre of Excellence in Blood Banking, Immunohematology &amp; Tissue typing for collaborative research and training
    </li></ul>