<div class="col-md-4 offset-md-3">
    <h3>Register</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="mail"
            [(ngModel)]="user.mail" name="mail">
            <label>Email Id</label>
            <input type="text" class="form-control" id="userName"
            [(ngModel)]="user.userName" name="userName">
            
            <label>Password</label>
            <input type="text" class="form-control" id="password"
            [(ngModel)]="user.password" name="password">
            
            <label>Blood</label>
                <select id="blood" [(ngModel)]="user.blood" name="blood" >
                  <option *ngFor="let group of groups" value={{group.name}}>{{group.name}}</option>
                  
                </select><br>
            <label>Role</label>
                <select id="role" [(ngModel)]="user.role" name="role" >
                  <option *ngFor="let role of roles" value={{role.name}}>
                      {{role.name}}</option>
                  
                </select><br>
            <label>Mobile</label>
            <input type="text" class="form-control" id="mobile"
            [(ngModel)]="user.mobile" name="mobile">
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>